

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kalnia:wght@300&display=swap');

.logo
{
  height:4rem;
  margin-left: 2rem;
  margin-left: 0.5rem;
  float: left;
  text-align: center;
  z-index: 1;
  
}
body
{
  background-color: #edf7f6;
}

.logol
{
  float :left;
  height:25rem;
  padding: 0 2rem;
  margin-left: 8rem;
  position: relative;
  right:10rem;
z-index: 0;
}
.cont
{
   background-color:#232D3F;
   line-height: 5rem;
   margin: auto;
   height: 25rem;
   border: black;
   z-index: 1;
   
}
#now
{
  font-size: 3rem;
  line-height:7rem;
  font-family: 'Dancing Script', cursive;
  background-image: url("./Images/pexels-migs-reyes-4205505.jpg");
  background-position-x:right;
  background-size:100%;
  -webkit-transform: rotate(0deg);
  background-repeat: no-repeat;
  background-position: 120% 50%;
  padding-right: 6rem;
 color: #EEEEEE;
  margin-top: 0;
}
#top
{
  font-family: 'Kalnia', serif;
  text-align:center ; 
  height: 3.5rem;
  position: relative;
  top: 1.2rem;
}

.topnav {
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ff5e58;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 15px;
  margin-right: 16px;
  font-size: 8px;
}
/* ---------------------------------------CONTAINER FLUID ------------------------------------*/
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
#name
{
font-weight: 5rem;
}
.topBar
{
  background-color: #EEEEEE;
  color:antiquewhite;
}




@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Dancing+Script:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Dancing Script, cursive";
  max-width: 40ch;
  text-align: LEFT;
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.h1, h1 {
  font-size: calc(3rem + 1.5vw);
  line-height: 7REM;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}